
.letters {
    z-index: 1000;
    width: 17vh;
    padding: 0.5em;
    transition: transform .2s;
}

.letters:hover{
    transform: scale(1.2);
}

.Home-Middle{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) { 
.letters{
    width: 6vh;
    padding: .2em;
}
}