.Navbar {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.navLetters {
    z-index: 1000;
    width: 5vh;
    padding: 0.2em;
    transition: transform .2s;
}

.navLetters:hover{
    transform: scale(1.2);
}


.navWrap{
    position:absolute;
}


.homeIcon {
    width: 5vh;
    margin: .25vh;
    padding: 0.2em;
    transition: transform .2s;
    left: 0vh;
}

.homeWrap {
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: left;
}
.homeIcon:hover{
    -webkit-filter: brightness(70%); 
}

.socialsWrap {
    position: absolute;
    top:3vh;
    right: 0;
}

@media only screen and (max-width: 700px) {
    .socialsWrap{
        display:none;
    }
}
