/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
.App {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
}

.letters {
  z-index: 1000;
  width: 20vh;
}

.content {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.background {
  z-index: 0;
}
